{deps,[
		{magicbeam, ".*", {git, "git://github.com/otakup0pe/magicbeam.git", {branch, "master"}}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.
{escript_incl_apps, [magicbeam, jsx, getopt]}.
{escript_emu_args, "%%! -noshell -noinput -kernel error_logger 'silent' -sasl sasl_error_logger 'false'\n"}.
